# Quien es el usuario que más idiomas domina con un nivel de 2 o superior (⭐)

In [10]:
import pandas as pd
lang = pd.read_csv('../data/languages.csv')
lang

       babel_user  babel_lang babel_level
0         4502458          FR           2
1         5928200          aa           0
2           46918          ab           0
3         2050449          ab           1
4         4715583         ace           0
...           ...         ...         ...
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

[35666 rows x 3 columns]

In [11]:
lang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35666 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35666 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35666 non-null  object
dtypes: int64(1), object(2)
memory usage: 836.1+ KB

In [12]:
lang.babel_level.unique()

array(['2', '0', '1', '3', '4', 'N', '5'], dtype=object)

In [13]:
# Cambio el dtype de babeL_level a enteros.
# Asigno a los nativos a nivel 5 y los xx-5 a nivel 6.
def traducir_nivel(string):
    traduccion = {
        '0':0,
        '1':1,
        '2':2,
        '3':3,
        '4':4,
        'N':5,
        '5':6,
    }

    return traduccion[string]

lang.babel_level = lang.babel_level.map(traducir_nivel)
# Considero las provenencias de los idiomas como el mismo idioma.
lang.babel_lang = lang.babel_lang.map(lambda x: str(x).split('-')[0].lower())
lang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35666 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35666 non-null  int64
 1   babel_lang   35666 non-null  object
 2   babel_level  35666 non-null  int64
dtypes: int64(2), object(1)
memory usage: 836.1+ KB

In [14]:
# Filtro los idiomas por el nivel alcanzado por los usuarios.
lang = lang[lang.babel_level >= 2]
lang

       babel_user babel_lang  babel_level
0         4502458         fr            2
14         188693         af            2
15        2766138         af            2
16         832026         af            3
17         842951         af            4
...           ...        ...          ...
35658     5561040         zh            5
35659     5915818         zh            5
35660     2089885         zh            4
35662     2089885         zh            3
35665       87482        zza            5

[26985 rows x 3 columns]

In [15]:
# Agrupo por nombre y cuento sus idiomas.
agrupados = lang.groupby('babel_user').agg({'babel_lang':'count'})
agrupados

            babel_lang
babel_user
30                   3
38                   2
262                  3
267                  3
294                  3
...                ...
6318249              3
6327193              2
6327824              6
6331490              3
6332447              2

[10780 rows x 1 columns]

In [16]:
# Finalmente filtro el DataFrame para quedarme con la Serie que tiene el valor maximo de babel_lang.
agrupados = agrupados[agrupados.babel_lang == agrupados.babel_lang.max()].reset_index()
agrupados

   babel_user  babel_lang
0     3276151          29

In [17]:
usuario = agrupados.loc[0,'babel_user']
idiomas = agrupados.loc[0,'babel_lang']
print(f'El usuario con mas idiomas de nivel >= 2 es: {usuario} con {idiomas} idiomas')

El usuario con mas idiomas de nivel >= 2 es: 3276151 con 29 idiomas