# Si decimos que un usuario sabe un idioma cuando tiene un nivel de babel mayor o igual a 1, para cada grupo de usuarios que sabe una determinada cantidad de idiomas, ¿Cuántos de esos usuarios fueron bloqueados al menos una vez? (⭐⭐⭐)

In [1]:
import pandas as pd
lang = pd.read_csv('../data/languages.csv')
lang

       babel_user  babel_lang babel_level
0         4502458          FR           2
1         5928200          aa           0
2           46918          ab           0
3         2050449          ab           1
4         4715583         ace           0
...           ...         ...         ...
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

[35666 rows x 3 columns]

In [2]:
lang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35666 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35666 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35666 non-null  object
dtypes: int64(1), object(2)
memory usage: 836.1+ KB

In [3]:
lang.babel_level.unique()

array(['2', '0', '1', '3', '4', 'N', '5'], dtype=object)

In [4]:
# Cambio el dtype de babeL_level a enteros.
# Asigno a los nativos a nivel 5 y los xx-5 a nivel 6.
def traducir_nivel(string):
    traduccion = {
        '0':0,
        '1':1,
        '2':2,
        '3':3,
        '4':4,
        'N':5,
        '5':6,
    }

    return traduccion[string]

lang.babel_level = lang.babel_level.map(traducir_nivel)
lang.babel_user = lang.babel_user.map(lambda x: str(x))
# Considero las provenencias de los idiomas como el mismo idioma.
lang.babel_lang = lang.babel_lang.map(lambda x: str(x).split('-')[0].lower())
lang

      babel_user babel_lang  babel_level
0        4502458         fr            2
1        5928200         aa            0
2          46918         ab            0
3        2050449         ab            1
4        4715583        ace            0
...          ...        ...          ...
35661    2089885         zh            1
35662    2089885         zh            3
35663    5036533         zu            0
35664    5928200         zu            0
35665      87482        zza            5

[35666 rows x 3 columns]

In [5]:
# Calculo la cantidad de idiomas que habla cada usuario.
lang = lang[lang.babel_level >= 1].groupby('babel_user').count()
lang = lang.reset_index().rename(columns={'babel_user':'users', 'babel_lang':'nlangs'})[['users', 'nlangs']]
lang

         users  nlangs
0      1000475       3
1      1001148       2
2       100131       5
3      1001364       7
4      1001897       2
...        ...     ...
10804   998096       1
10805   998130       2
10806   998232       2
10807    99851       3
10808   999893       1

[10809 rows x 2 columns]

In [6]:
# Consigo una set de usuarios bloqueados.
logs = pd.read_csv('../data/logs.csv', low_memory=False, usecols=['action','title'])
logs = logs[logs.action == 'block'].drop('action', axis=1)
bloqueados = set(logs.title.map(lambda x: str(x).replace('Usuario:','')))
bloqueados

{'186.176.29.125',
 '190.67.163.214',
 '201.240.48.150',
 'Ortjomon',
 '200.86.75.27',
 '189.158.121.183',
 'LifeHax111',
 '186.190.196.199',
 '190.107.228.66',
 '189.128.99.51',
 'Dob Remonno',
 '84.79.134.62',
 'Addsmooaw',
 '147.156.173.214',
 'Bosterodeboedo',
 '179.50.159.71',
 '217.216.64.143',
 '181.203.4.123',
 'Raiza8888',
 'Vito Bandoneone',
 '83.213.87.199',
 '190.226.222.0/24',
 '201.223.101.192',
 '200.121.34.99',
 '200.114.40.96',
 '189.226.218.241',
 '128.232.18.57',
 'SrAlejandro29',
 '201.167.115.248',
 'Pasco+Moquegua',
 '152.231.37.152',
 'Agustin diaz gonzalez',
 'Danirecu26',
 '158.251.7.68',
 '88.13.155.173',
 '81.32.192.173',
 '83.35.171.185',
 '201.116.199.235',
 '200.89.56.210',
 '181.133.228.34',
 'Eldestrozacul0s',
 '189.141.27.162',
 '190.76.83.120',
 '186.129.198.146',
 '88.7.242.112',
 '187.230.60.134',
 '001010010010 alejandro',
 '190.42.53.201',
 '189.165.113.104',
 '190.224.252.0/24',
 'Milanopablog66',
 '181.47.148.53',
 '85.85.95.34',
 '201.240.161.120',
 'Americaninparis',
 '189.229.47.60',
 '111.254.142.122',
 'La sangre de Edslov será mi desayuno',
 '92.59.170.0',
 '186.9.135.18',
 '189.132.138.180',
 '81.33.239.139',
 '189.178.245.69',
 'FuckYeah21',
 'Cianwon',
 '83.245.239.183',
 '190.20.91.126',
 '62.42.43.174',
 '88.27.124.95',
 'Diegokrush',
 '201.251.73.161',
 'Hugo maisler',
 '217.126.247.121',
 '212.120.224.0/19',
 '147.96.1.115',
 '187.189.210.215',
 '181.50.91.47',
 '83.50.59.221',
 '201.221.198.146',
 '87.217.85.24',
 '93.156.235.41',
 '190.163.63.252',
 'NESUAR',
 '83.56.206.134',
 'Dejadejodermepinchemaricamamon',
 '80.28.70.59',
 '186.91.45.4',
 'Esteban1AR',
 'Its.camilla caca',
 '105.234.255.2',
 '83.46.61.105',
 '88.30.13.97',
 'Elgueroxd',
 '200.16.89.220',
 'Micross Panther Inter',
 'F12~eswiki',
 'KaosSs',
 '186.28.79.129',
 'Fuego78',
 'Sack2100',
 '189.136.36.56',
 '2800:AC:7:7396:1:0:85CE:1CE2',
 '148.102.58.239',
 '190.152.215.82',
 '200.93.142.114',
 'Scutterfly',
 '189.129.148.8',
 '190.172.82.194',
 'AngelSP191',
 '201.170.38.43',
 '85.55.121.34',
 '80.26.215.237',
 'Dante Bermudez',
 '152.169.125.91',
 'Fyrdions',
 '88.16.104.212',
 '78.47.29.82',
 '107.9.254.237',
 '81.61.136.131',
 'Tumadregolfa',
 'Baptiste2000',
 'EspirituanoXXX',
 '79.151.33.157',
 '181.188.137.9',
 '200.68.150.51',
 'BetoOMP',
 '200.83.16.230',
 'Mariaunpajoteusted',
 '177.237.178.0',
 '201.241.238.56',
 'Frikycom',
 '62.57.209.109',
 '80.32.217.41',
 'Teatroestudiolaboratorio',
 '201.240.140.104',
 '189.145.45.79',
 '190.77.133.7',
 '190.40.58.148',
 'Josue cañibano',
 '201.171.242.216',
 '2604:2000:C54A:5E00:806B:E6B8:16F2:3D1',
 '187.155.18.50',
 'Elkaverna',
 '2.137.124.79',
 'Puto pal que lo lee',
 '83.47.58.246',
 'Diegoespanar',
 'Zacharycook597',
 'JorgeEA7',
 '181.171.224.160',
 '81.89.56.72',
 '190.190.141.119',
 '190.104.8.82',
 '83.42.242.10',
 'Elucariohuevo40',
 'XabiXroSS',
 '69.80.225.73',
 '152.170.87.40',
 'MarParaBoliviaaa',
 'Feo 12',
 'UCUDAL curso Linux~eswiki',
 '186.102.109.129',
 '190.136.106.23',
 '189.172.24.79',
 'Adriana9078',
 'Norman the Tank Engine~eswiki',
 '179.27.4.6',
 '187.244.68.108',
 '189.175.114.206',
 'Juancruz98',
 '88.24.97.43',
 '190.164.155.160',
 '181.161.241.177',
 '200.119.48.120',
 '189.165.42.50',
 '181.197.232.134',
 '186.14.22.107',
 'Tecno2020',
 '189.162.91.99',
 '88.25.139.252',
 '190.131.102.17',
 '62.233.138.180',
 '181.64.166.241',
 '67.224.251.187',
 '79.158.19.45',
 '85.85.104.203',
 '190.63.150.251',
 '94.76.164.118',
 '200.113.110.131',
 'Amy0000000000000000000000000000000000000000000000000000000000000',
 '68.197.194.95',
 '190.45.230.80',
 '2800:4B0:8000:DFA0:1:0:5635:DA48',
 '121.17.77.85',
 '190.42.217.95',
 '187.190.22.47',
 '2800:AF0:1048:0:0:0:0:0/53',
 '212.170.95.6',
 '190.12.87.82',
 '190.229.213.80',
 '201.253.144.114',
 'Esc192',
 '200.54.96.162',
 '200.104.5.15',
 'Club Aikido Bushido Antofagasta',
 '105.112.38.59',
 '62.57.246.68',
 '190.122.97.75',
 '83.32.70.222',
 '89.7.76.112',
 '190.215.50.87',
 '201.248.147.21',
 '200.72.127.35',
 '186.18.83.123',
 'Juanma.1225',
 '213.254.70.113',
 '85.55.36.162',
 '189.237.108.246',
 '189.132.79.202',
 '190.48.237.113',
 '212.230.148.240',
 '190.65.69.233',
 '190.94.232.99',
 'Joaquinito99999999',
 '113.58.241.110',
 '189.149.176.180',
 '80.224.24.160',
 '190.48.222.245',
 '91.116.161.167',
 '87.218.154.46',
 'PoseidonHijoDeCronos4',
 '201.230.221.72',
 '179.40.88.14',
 'Putita.mx',
 'Sixtongues',
 '190.19.158.217',
 '82.130.154.174',
 'Osito Amoroso 123',
 'Seba Alfaro',
 '189.163.224.236',
 '83.44.153.143',
 'Ozkr javier.ubeda',
 '190.50.209.89',
 '181.113.144.201',
 '85.87.0.0/24',
 'Clave Movimiento Poltico',
 '189.182.15.34',
 'BrunoSP',
 'Chapalapachala564',
 'Sebastian Atzin',
 'Thknny',
 '190.134.203.27',
 '190.113.208.10',
 'Kevin 188801',
 '190.20.26.54',
 '120.4.161.204',
 'Guillermola',
 '67.218.236.197',
 'Hugo2326',
 'Demilia20',
 '189.214.97.35',
 '190.52.146.71',
 'Adrada95',
 '200.53.140.130',
 'Cátedrajeanmonnet',
 '156.35.95.72',
 '186.145.176.4',
 '200.117.219.151',
 'ME LA PELAS 51',
 'Hjosmell',
 'Herdz88',
 'El que lo lead',
 '142.25.167.51',
 '187.211.73.29',
 'ITeC - Instituto Tecnología de la Construcción',
 '201.138.103.87',
 '222.201.227.203',
 '181.189.195.90',
 'Comisión de Arbitraje Medico del Estado de Jalisco',
 '195.55.102.38',
 '189.202.205.98',
 '212.225.204.91',
 '84.76.49.254',
 'Pepino gonzalez',
 '201.172.233.22',
 '168.205.207.120',
 'Club Social y Deportivo San Francisco Valparaiso Chile',
 '200.43.205.253',
 '187.188.115.43',
 'Amaximiliano',
 'Paoportillo',
 '180.243.69.31',
 '189.229.90.29',
 'Bartolo69fucker',
 '186.149.35.35',
 '80.73.146.56',
 '201.254.158.136',
 '189.81.203.225',
 '190.25.108.0',
 '201.231.193.121',
 '118.6.106.43',
 '213.60.34.224',
 '83.32.102.246',
 'Oletuscojones',
 '88.23.209.44',
 '190.162.173.109',
 '190.67.102.247',
 '201.221.228.153',
 'Franmoli',
 'Lexland',
 '84.121.186.105',
 '201.230.37.151',
 'Bolo vacilon',
 'Futbol club barcelona',
 'Tyythh',
 'Newix93',
 'Ismaaaprezz 18',
 '212.111.206.6',
 '201.215.209.152',
 'Maritza Conchita',
 'Ahron Vega 12396',
 '190.155.146.248',
 'Murcianoenpelotas',
 '200.90.223.72',
 '200.116.164.124',
 'Carloshedzm',
 'Hydgvgtcbvgctfrgtvsztfvgszdguz1421',
 '190.234.162.25',
 '187.139.121.36',
 '193.145.234.34',
 '208.80.238.150',
 '186.28.84.253',
 '113.247.32.156',
 'Mariammelsen',
 '187.188.190.153',
 'Xmmmmmsfhsiyhfudku',
 '200.52.187.129',
 'Benaguasil19972011',
 '163.247.52.14',
 '201.173.169.125',
 'Ghunninson',
 'Yona6581',
 '93690350 N06 38105 183t5n6z',
 'GordoFedora',
 '201.253.84.15',
 'Jskdhdldhskfhfj',
 'JowellAMG',
 'Lionely',
 'Conchetuponi',
 '177.225.59.9',
 '190.47.0.11',
 '186.123.12.61',
 '190.72.155.121',
 '110.85.71.132',
 '190.158.43.140',
 '190.82.33.179',
 'Luispxndx14',
 '79.156.232.11',
 '2806:10A6:16:4227:4CB9:E59A:F339:18ED',
 '191.112.124.229',
 '200.2.54.98',
 '201.243.77.201',
 'Jorge Sáez',
 '2.137.156.52',
 '2800:E2:1580:711:A8CE:5C0C:5ABC:420C',
 'Cacafuty2345',
 '2803:9800:A504:7D07:0:0:0:0/64',
 '193.152.212.27',
 '79.120.86.20',
 '188.253.231.42',
 '66.45.240.66',
 '189.191.204.152',
 '193.152.144.34',
 '63.241.33.200',
 '95.23.15.49',
 'Bilnea',
 'INVERSIONES MASTERKEY',
 '79.145.33.148',
 'Adrian223',
 '200.12.141.223',
 'ManuelaFredes',
 '83.213.55.42',
 'Djanx',
 '200.119.231.76',
 '189.156.212.5',
 'Estudiosahar',
 '189.203.219.209',
 '190.53.10.78',
 'Cacamaster123',
 'Holagalileo61',
 '190.242.99.210',
 '85.60.54.24',
 '80.24.157.126',
 '190.25.100.148',
 'RamónRangelFlores',
 'Zzivaj',
 '190.72.184.159',
 '190.42.160.45',
 '200.86.60.150',
 'Eledeletras',
 '80.33.185.19',
 'Diablilloofficial100k',
 '190.195.205.36',
 '186.11.20.186',
 '200.89.39.6',
 '200.104.160.161',
 '123.127.1.181',
 '208.115.114.215',
 '201.233.91.87',
 '201.222.173.197',
 'Dr.many1122',
 'VergaLindo',
 '189.200.104.5',
 'El bukkake',
 '89.140.152.154',
 'Leeexxx77',
 '161.18.115.223',
 '66.90.159.37',
 '212.122.98.107',
 '187.136.88.52',
 '68.129.161.34',
 'Dsfj',
 '190.219.201.104',
 '190.158.98.49',
 'Mati59393901828',
 '81.33.193.27',
 'Gabriel Payco',
 '190.247.57.122',
 '200.121.138.54',
 'ConfidencialS',
 '200.67.13.234',
 '213.0.87.60',
 '195.166.200.107',
 '60.63.97.39',
 '168.232.170.8',
 'Facundestroyer',
 '81.43.237.161',
 '2001:1388:B4A:E832:FCD7:C26D:FCDD:3B9',
 '178.169.234.223',
 '87.218.229.168',
 '189.165.212.72',
 '190.158.118.131',
 'TalentOnTheRoad',
 'Milochocientos',
 '186.11.20.101',
 '189.140.175.143',
 '201.212.143.113',
 '201.223.21.189',
 '201.138.55.157',
 '2806:103E:17:6876:59D6:2371:3B97:A6C8',
 '222.201.159.131',
 'Omar Sander',
 'Soniacampe77899',
 '189.143.71.45',
 'Codazo',
 '88.7.75.202',
 'Mundos Devastados',
 '187.133.170.189',
 '88.14.84.69',
 'Maxilango',
 'Mhgfdjhdchgfxhgfx',
 '190.28.120.103',
 '189.196.14.82',
 '80.28.159.227',
 'Emat20211',
 '201.240.79.76',
 '190.53.8.50',
 '83.49.164.69',
 '86.99.179.52',
 '80.34.60.89',
 '201.247.44.27',
 '2803:9800:A892:8D7F:418C:E268:B5C3:E387',
 '83.59.235.61',
 '200.111.118.67',
 '181.176.57.208',
 '190.48.185.41',
 '186.103.157.145',
 '201.73.79.20',
 'Elemejordelmundovivadiego',
 '189.166.22.204',
 'Wachiwo',
 'Chupapijasnegrasvenudas',
 '190.17.174.196',
 'Chupaelperro',
 '41.66.225.57',
 'Otnirebal',
 '190.144.163.1',
 'Anti-Ecemaml',
 '186.87.110.229',
 '146.83.132.132',
 '83.56.225.150',
 '201.235.243.225',
 'Alexrottweila',
 'RoferbiaBis',
 '190.132.86.59',
 '200.82.219.96',
 '200.118.197.112',
 '79.150.111.65',
 '176.85.218.12',
 '195.235.54.203',
 '95.60.204.36',
 '189.238.11.100',
 '88.18.200.135',
 '185.190.241.51',
 '69.162.116.57',
 '186.9.31.67',
 'Iamarnauu',
 'Pipito en contra del feminismo',
 '191.116.142.248',
 'Irlanda do Norte',
 '190.175.99.208',
 '88.83.68.82',
 'Ferpart',
 '187.235.122.239',
 'Jonixpr',
 'Killbill123',
 '181.183.237.121',
 '201.209.63.37',
 'Samack~eswiki',
 '190.184.42.76',
 'Petermolamazo',
 '189.196.24.52',
 'Yonkarra5',
 '37.10.160.128',
 '201.245.162.154',
 '118.98.162.5',
 'Desratizar',
 'Grupo Garden Paraguay - Nissan - Chevrolet - Kia - Mazda - Jeep - Dodge - Mini - Bmw',
 'Elvio Lador XD',
 '190.228.205.156',
 'Real Plaza',
 '190.223.192.122',
 '190.215.245.172',
 '5.90.37.88',
 '190.46.91.91',
 '190.133.164.146',
 'Pepitopollagrande',
 '181.49.84.235',
 '190.134.26.240',
 '189.169.235.170',
 '190.51.105.110',
 'RaúlGonzalez18',
 '190.66.179.137',
 'FP040204',
 '190.144.66.21',
 '189.187.133.131',
 '79.168.134.124',
 'EL VEGETTA777',
 '203.97.9.145',
 '190.24.48.173',
 '84.151.127.17',
 'Jaimejsghsk',
 '77.229.176.219',
 '200.60.187.166',
 '189.171.12.244',
 '194.199.224.108',
 '200.125.110.45',
 'Dunkelfriteuse',
 '83.37.68.252',
 '85.192.76.192',
 '67.159.41.89',
 '200.21.130.154',
 'Thooo',
 'Ta!chiI',
 '124.125.241.30',
 '187.154.209.140',
 '186.156.202.156',
 '190.121.239.132',
 '95.62.66.225',
 'Víctor Raúl Presente',
 'Trolleador 13',
 '200.93.4.29',
 '84.127.163.46',
 'Pablo poole',
 'Juanjodete123',
 'Elchelemanda',
 '131.178.105.231',
 '190.231.105.11',
 'ILUVMARCEL',
 'Tomas Juan',
 '200.82.96.218',
 '137.101.253.43',
 '189.152.52.83',
 '190.101.102.222',
 'Fundación de la Merced para la Prevención de la Violencia y la Integración Social',
 'MajorArcanaMusicaAnimalista',
 '2A02:2E02:399E:1B00:3D2C:E1A2:276F:14CA',
 '88.16.152.61',
 '219.84.212.106',
 '69.140.212.223',
 'Rauensteiner',
 '84.84.142.17',
 '79.147.212.62',
 '189.218.28.150',
 '201.238.173.50',
 '189.242.167.8',
 'Rocatek',
 'Pichi8',
 '179.45.211.180',
 'Tetrabrinx',
 'JudiithJudiith',
 'Tarawo1943',
 'Necarf',
 '87.223.51.254',
 '189.180.117.197',
 '201.219.236.183',
 '88.22.224.56',
 'Sirvodka',
 '190.235.162.218',
 'Hanalfaveto',
 'HULE RAMO',
 'Christian Fernández Bazán',
 'Tunombrexd',
 'Tobias Loria',
 '176.12.81.131',
 'Gloriadelcarmenmamahueco',
 '186.62.84.222',
 '201.121.22.150',
 'Una Nueva Opción (partido polpitico)',
 'Harry madrigal',
 '190.101.86.185',
 'DiegoGuti20',
 '190.116.50.43',
 'Cacafeacoco',
 '189.128.113.54',
 '77.108.24.46',
 '189.148.67.12',
 '189.168.129.145',
 '87.223.8.29',
 '181.1.157.130',
 '81.44.16.59',
 'Albayzines',
 'Elpantanodelperreo',
 'Nadnorav',
 '190.0.131.80',
 'Luis Roberto villalobos',
 '200.69.212.249',
 '190.84.150.201',
 '189.131.39.248',
 'Joder098',
 '64.32.79.104',
 'Elpollasovital69',
 '189.136.185.4',
 '181.176.107.197',
 '114.213.254.226',
 '94.100.19.59',
 'Ytf7tfitf97f97cf79f',
 '80.24.12.47',
 'Papu rico kk',
 'Antoniocarreras13',
 '80.36.100.137',
 'Suspiria',
 'Caca de mierda',
 '189.203.13.157',
 '200.52.217.235',
 '190.164.87.27',
 '200.113.156.158',
 '95.21.122.252',
 'Idiote 69',
 'UrielComeMokitos',
 '85.56.71.240',
 '213.60.229.19',
 '190.18.75.220',
 '201.255.22.163',
 '174.34.161.12',
 '93.132.60.25',
 'Importadora de Perfumes Christian Dior Peru',
 'Usuario109875',
 '83.53.107.91',
 '83.56.4.134',
 '83.42.172.214',
 'Kabuntido',
 'Porkolonio',
 '3102941367d',
 '185.143.1.207',
 '201.124.162.37',
 '83.31.27.245',
 '83.57.87.49',
 '79.144.251.182',
 '88.3.185.214',
 'Eldoctor99hotmailcom',
 '210.77.73.247',
 'BastianGT',
 '201.88.111.69',
 '201.250.188.36',
 '189.177.99.231',
 'Conejo hace Evasion',
 '174.24.187.97',
 '200.79.192.12',
 'Thegame1',
 'Arquigoras',
 'LukkaLives',
 'Santy966121',
 '201.239.114.157',
 '187.151.105.145',
 '191.102.113.18',
 'Dry Bass',
 '83.38.85.133',
 '187.134.185.139',
 '200.45.196.127',
 'Reggaetones',
 '87.96.140.110',
 '84.19.177.89',
 'Ibaimongolo',
 '124.192.211.106',
 'CaryWand8198314',
 '189.216.206.209',
 '82.198.49.182',
 'Papu123jdusuwjabab a',
 'Forbes International',
 '181.14.197.155',
 '200.72.65.99',
 '201.110.135.99',
 '186.28.56.179',
 '190.55.8.98',
 '189.175.251.205',
 '1.51.203.179',
 'PUTA-VIGO-PUTA-CELTA',
 '189.156.88.0/24',
 '181.143.213.50',
 '201.191.255.34',
 '87.222.71.49',
 '186.120.97.126',
 'Johnbot',
 '200.45.114.205',
 '201.116.94.5',
 'Miss Pitsy',
 '190.225.122.106',
 'Sara Shackie',
 '81.172.7.226',
 '201.240.201.139',
 '79.148.96.74',
 'Grupo Primer Instinto',
 '190.161.81.156',
 '190.226.103.52',
 '85.85.93.62',
 '200.122.71.183',
 'Holaweonxd',
 'Immodylor',
 'Cacamevacacateva',
 '186.84.54.7',
 '213.4.34.33',
 '190.73.107.155',
 'RaulLL18',
 '200.112.39.76',
 '85.56.17.1',
 '77.78.3.83',
 'Culoman',
 '200.121.147.228',
 '173.224.217.168',
 '186.98.73.46',
 '190.130.9.34',
 '88.26.98.176',
 '81.44.143.127',
 'Carlos García Mora',
 '88.11.56.183',
 '84.120.63.44',
 '190.37.110.206',
 'Jccs',
 'Adrianismaelsanchez772',
 'PACONDE',
 'Campayo88',
 '190.21.204.2',
 'Anonimus20',
 '183.179.149.153',
 '190.254.160.99',
 'Antonio Sánchez Navarrete',
 '83.165.251.1',
 '79.156.168.57',
 'Anaconda1798',
 'Ruflayssa',
 '190.113.208.93',
 '88.16.18.111',
 'Jose alejandro hernandez',
 'FPOnlie',
 'Donavega',
 '201.223.14.239',
 '186.40.10.106',
 'Violistafanhp',
 '213.201.123.40',
 '190.236.50.177',
 '176.86.19.39',
 '200.83.74.203',
 'Vasco1942',
 'Yeray polo',
 '190.25.144.19',
 '189.231.108.174',
 '84.127.166.203',
 'Jejejelol',
 '201.183.152.233',
 '190.232.198.26',
 '83.54.246.32',
 'Rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr',
 '190.161.35.39',
 'Anonymus241636481286412498762348762523643194124',
 '205.169.164.65',
 '118.128.217.167',
 '187.169.52.61',
 'Solomio12345',
 '81.32.204.83',
 '186.103.168.251',
 '213.171.225.195',
 '190.68.181.69',
 '190.244.136.71',
 '190.225.125.224',
 'Luminuxio',
 '190.20.23.15',
 '189.133.176.55',
 'Cmeites',
 '187.234.219.244',
 '86.99.181.206',
 '188.171.206.234',
 '181.67.74.8',
 '83.32.114.139',
 '83.54.17.196',
 '113.160.23.58',
 '87.219.135.162',
 'ANDREYELPUTOAMO',
 'Chulachulachula',
 'Seminariomenordepilas.es',
 '88.2.151.118',
 '176.83.231.26',
 '190.42.54.23',
 '187.188.188.190',
 '186.106.149.154',
 '75.199.193.13',
 '193.253.37.78',
 'La bbcita',
 '85.51.199.110',
 '190.46.207.4',
 'Eltroll149(faco)',
 'Milano.pablo45',
 '85.56.41.231',
 '200.77.1.192',
 '200.120.220.87',
 '189.19.37.217',
 'Ardel24',
 '186.0.4.29',
 '80.29.76.192',
 'Jean Moulin V',
 'Odio.al.gabo',
 '2.141.19.59',
 '189.170.54.225',
 '201.175.204.144',
 '189.144.238.219',
 '89.7.8.58',
 'Amiscarshop',
 '88.14.125.67',
 '122.81.248.198',
 '201.250.171.206',
 'Jaime00000000001',
 'Alacantí',
 '80.36.20.157',
 'Freewayguy~eswiki',
 '177.246.163.1',
 '80.28.82.231',
 'Oscarsitocondospollas',
 '220.234.94.247',
 '190.82.115.146',
 '200.120.213.106',
 '83.61.128.60',
 '193.152.220.35',
 '89.140.152.16',
 '190.20.94.221',
 '74.123.17.23',
 'Addon.A',
 'Chutelandiaacm1pt',
 '190.21.137.246',
 '213.143.46.13',
 '201.240.92.18',
 '190.82.184.216',
 '201.227.124.160',
 'KillerCracks',
 'Culoraja',
 '213.97.75.240',
 '200.60.247.92',
 '185.81.112.0/23',
 '181.188.165.4',
 'Usuariocabreado~eswiki',
 '124.16.145.183',
 'Permutación tipo T',
 'Miss Knee Socks',
 'Cris2020',
 'Kskskskskekekekek',
 'MASKAPITO',
 '186.136.52.95',
 '181.49.106.226',
 'CleverChurrero',
 'Doubikmatias',
 '201.236.9.149',
 '181.209.106.246',
 'Hola hermanito',
 'Ratirayo',
 '45.232.32.111',
 '190.51.249.253',
 '190.69.120.161',
 '83.49.77.237',
 '72.77.216.254',
 '190.236.157.250',
 '185.74.255.20',
 '80.24.156.115',
 '123.100.5.62',
 'Alejandrogascon34wiki',
 '201.208.225.171',
 '188.78.72.78',
 'Resamuel',
 '189.154.2.184',
 'Trilcito El Terruquito',
 '87.219.50.244',
 '201.219.233.191',
 'Restaurante taberna sociedad plateros',
 '150.187.182.2',
 '189.138.147.235',
 '109.228.255.52',
 '190.26.181.12',
 '186.143.200.128',
 '190.21.252.79',
 '83.44.56.132',
 '134.3.174.116',
 '181.95.252.0/24',
 '190.11.89.34',
 'Giselagilges',
 '117.45.138.209',
 'Topkek123',
 'Gusgus21',
 'Quesoblanco',
 'Leghacy of 444',
 '81.35.54.104',
 'MyrnaGlitch',
 '190.194.23.72',
 '187.198.123.208',
 '88.1.67.38',
 'Montgomeryesg1l1p0llas',
 '201.171.192.163',
 '190.149.158.112',
 'Alberto Casteño',
 '93.108.133.56',
 'Carolina1542',
 '118.137.207.133',
 '190.144.228.198',
 '43.245.164.116',
 '87.223.51.169',
 'Humbert Ibarra Music',
 'El negro gay',
 '200.121.167.199',
 '201.222.171.249',
 'Jehovencio',
 'Luis el marica',
 '189.193.43.88',
 'Michelangelomolitor2524',
 'Golden Heart intl',
 'Pene 222',
 '190.20.173.199',
 'DavidSepu17082005',
 'Josemi CODe',
 '95.120.4.134',
 '79.148.56.97',
 '158.42.175.31',
 '2806:267:402:D9:20B9:52CE:F073:46AE',
 '190.240.30.37',
 '188.87.209.241',
 '81.184.169.180',
 '200.105.168.178',
 'Markhyuck novios',
 '200.104.40.4',
 '181.170.155.62',
 '190.146.189.176',
 '37.11.21.103',
 '95.18.161.161',
 '181.127.148.145',
 '189.240.197.229',
 '212.89.9.53',
 '62.57.235.29',
 '201.216.51.158',
 '95.39.225.72',
 '189.132.215.113',
 'Mjgarciavdd',
 'Papaia oie jico',
 'Carabineros de Chile OFICIAL',
 '88.26.103.15',
 '190.110.131.246',
 '2806:2F0:51C0:E927:3141:EED9:9C2:C18C',
 '79.153.112.10',
 '89.128.37.46',
 '85.86.23.24',
 'Petri~eswiki',
 '200.77.146.140',
 '24.28.82.37',
 '189.142.51.249',
 'Togas Nikolas',
 '200.68.141.60',
 '201.189.235.228',
 'Pirrámides',
 '186.108.250.118',
 '152.231.192.36',
 '190.204.76.184',
 '190.106.201.114',
 'Diegorexcraft',
 '200.28.140.135',
 '209.133.216.94',
 ...}

In [7]:
# Como bloqueados tiene mezclados los username y las ips y el df langs tiene sus ids, tengo pasar a ids los bloqueados.
users = pd.read_csv('../data/logs.csv', low_memory=False, usecols=['contributor_username','contributor_id','contributor_ip'])
users

         contributor_username  contributor_id contributor_ip
0                      Sabbut          2075.0            NaN
1                      Sabbut          2075.0            NaN
2                      Sabbut          2075.0            NaN
3                      Sanbec          7856.0            NaN
4                      Sanbec          7856.0            NaN
...                       ...             ...            ...
12188941              SeroBOT       4980693.0            NaN
12188942          Leonpolanco        561850.0            NaN
12188943            Desiretjs       6335019.0            NaN
12188944            Correogsk        443260.0            NaN
12188945           Liza.amane       6335020.0            NaN

[12188946 rows x 3 columns]

In [8]:
# Paso contributor_id a string y me quedo con la parte entera.
users.contributor_id = users.contributor_id.map(lambda x: str(x).split('.')[0])
# Lleno los NaN con '' para poder concatenar.
users.fillna('', inplace=True)
users

         contributor_username contributor_id contributor_ip
0                      Sabbut           2075
1                      Sabbut           2075
2                      Sabbut           2075
3                      Sanbec           7856
4                      Sanbec           7856
...                       ...            ...            ...
12188941              SeroBOT        4980693
12188942          Leonpolanco         561850
12188943            Desiretjs        6335019
12188944            Correogsk         443260
12188945           Liza.amane        6335020

[12188946 rows x 3 columns]

In [9]:
# Agrupo el DF por ids y me quedo con el nombre e ip del usuario.
users = users.groupby('contributor_id').agg({'contributor_username':'first', 'contributor_ip':'first'})
users

               contributor_username contributor_ip
contributor_id
100000                  Sophymarsho
1000000                  Antimarcha
1000001                  Molusquita
1000002              Heidy Carvajal
1000003                      Vierko
...                             ...            ...
999996            Cristian carrillo
999997                      Adalyth
999998                    Sir.rizas
999999                 Ronaldrivera
nan                    Unknown user

[6188939 rows x 2 columns]

In [10]:
# Creo una columna con el id (username si no es nan o ip si era nan) de cada usuario.
users['nombre_ip'] = users.contributor_username + users.contributor_ip
users.drop(['contributor_username', 'contributor_ip'], axis=1, inplace=True)
users = users.reset_index()
users

        contributor_id          nombre_ip
0               100000        Sophymarsho
1              1000000         Antimarcha
2              1000001         Molusquita
3              1000002     Heidy Carvajal
4              1000003             Vierko
...                ...                ...
6188934         999996  Cristian carrillo
6188935         999997            Adalyth
6188936         999998          Sir.rizas
6188937         999999       Ronaldrivera
6188938            nan       Unknown user

[6188939 rows x 2 columns]

In [11]:
# Paso bloqueados a ids.
bloqueados = users[users.nombre_ip.map(lambda x: x in bloqueados)].contributor_id
bloqueados

50         1000046
65          100006
172        1000157
391        1000360
485        1000447
            ...
6188449     999549
6188516     999611
6188571     999661
6188628     999714
6188843     999912
Name: contributor_id, Length: 95448, dtype: object

In [12]:
lang

         users  nlangs
0      1000475       3
1      1001148       2
2       100131       5
3      1001364       7
4      1001897       2
...        ...     ...
10804   998096       1
10805   998130       2
10806   998232       2
10807    99851       3
10808   999893       1

[10809 rows x 2 columns]

In [18]:
# Consigo un DF de los usuarios bloqueados.
users_bloqueados = pd.merge(users, bloqueados, on='contributor_id')

# Mergeo con lang para conseguir la cantidad de idiomas que habla cada usuario.
lang = lang.rename(columns={'users':'contributor_id'})
users_bloqueados = pd.merge(users_bloqueados, lang, on='contributor_id')
users_bloqueados

    contributor_id      nombre_ip  nlangs
0          1001897     Oswaldo va       2
1          1013041         Surfaz       2
2          1025077          Sfs90       3
3           102876           Keat      22
4          1029705  Hiddendaemian       3
..             ...            ...     ...
605         983790          Orgus       1
606         988086      The big.1       2
607         989000   ADHUC TEMPUS       6
608          99159           RoRo       3
609          99851        Arturop       3

[610 rows x 3 columns]

In [19]:
# Agrupo por cantidad de idiomas y consigo el dato de si hay algun bloqueado por grupo.
users_bloqueados.groupby('nlangs').agg({'contributor_id':'count'}).rename(columns={'contributor_id':'cantidad_bloqueados'})
# Estos son los grupos de usuarios (por cantidad de idiomas que hablan) que tienen por lo menos un bloqueado.

        cantidad_bloqueados
nlangs
1                        93
2                       182
3                       138
4                        82
5                        52
6                        34
7                        10
8                         8
10                        4
11                        3
12                        1
16                        1
22                        1
34                        1